name: Deploy to Production (With Approval)

on:
  workflow_dispatch:

env:
  TF_VAR_location: "East US"
  TF_VAR_admin_username: "azureuser"
  TF_VAR_admin_password: ${{ secrets.ADMIN_PASSWORD }}
  TF_VAR_admin_ssh_public_key: ${{ secrets.ADMIN_SSH_PUBLIC_KEY_PROD }}


jobs:
  request_approval:
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
    - name: Awaiting manual approval
      run: echo "Approved for production deployment"

  deploy_production:
    needs: request_approval
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: envs/production

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.7


    - name: Terraform Init
      run: terraform init
      
    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Show Plan Summary
      run: terraform show -no-color tfplan


    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan